<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamic.statinterface.stats">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name="com.tamic.statinterface.stats.core.TcUploadCoreReceiver"
            >
           <intent-filter>
               <action android:name="action.com.pinganfang.base.send_report" />
               <action android:name="android.intent.action.BOOT_COMPLETED" />
               <action android:name="android.intent.action.USER_PRESENT" />
               <action android:name="android.intent.action.PACKAGE_ADDED"/>
               <action android:name="android.intent.action.PACKAGE_REMOVED"/>
               <action android:name="android.intent.action.PACKAGE_CHANGED"/>
               <action android:name="android.intent.action.PACKAGE_INSTALL"/>

           </intent-filter>

       </receiver>

    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true"/>


</manifest>
