<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tamic.statInterface.statsdk">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <receiver android:name=".core.TcUploadCoreReceiver">
           <intent-filter>
               <action android:name="action.com.pinganfang.base.send_report" />
           </intent-filter>

       </receiver>

    </application>

    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:resizeable="true"
        android:anyDensity="true"/>


</manifest>
